{% extends 'base.html.twig' %}

{% block title %}Assignment{% endblock %}

{% block content %}

    <div class="header">
      <h2>Net2Grid</h2>
      <h4>Consume data from API, send the results to 'results' exchange on a RabbitMQ instance where
they are filtered</h4>
      <form method="POST" action="{{path('get_data')}}">
        <p>
           <button type="submit" class="addBtn" style="height:50px;width:80px">Execute</button><br><br><br>
        </p>
      </form>
      <h4>In order to consume the filtered results from 'raw_results' queue and store these in a 'candidate' database, open a terminal in the 
          folder of the project and execute the following command: <b>php Net2GridConsumer.php</b></h4>      
    </div>


{% endblock %}